body {
	font-family: Helvetica, Arial, sans-serif;
}

button {
	display: block;
	width: 100%;
	border: none;
	border-radius: 0;
	background: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: left;
	cursor: pointer;
}

#wrapper {
	width: 840px;
	margin: 0 auto;
}

#accordion2 h2,
#accordion2 p {
	margin: 0;
	padding: 0 5px;
}

#accordion2 .accordionButton {
	background-color: #1085c9;
	color: #fff;
	cursor: pointer;
}
